*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.full-background{
  height: 100%;
  background-color: #f7f2f2;
}

body{
  font-family: Plus Jakarta Sans, sans-serif;
}

.highlight-text{
  color:#000;
}